In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
ir_df = pd.read_csv("./Data/Ireland.csv", index_col=0)
nl_df = pd.read_csv("./Data/Netherlands.csv", index_col=0)
sc_df = pd.read_csv("./Data/Scotland.csv", index_col=0)
sa_df = pd.read_csv("./Data/Sardinia.csv", index_col=0)

In [6]:
ir_df["TIME"] = pd.to_datetime(ir_df["TIME"])
nl_df["TIME"] = pd.to_datetime(nl_df["TIME"])
sc_df["TIME"] = pd.to_datetime(sc_df["TIME"])
sa_df["TIME"] = pd.to_datetime(sa_df["time"])

In [7]:
ir_df["DATE"] = ir_df["TIME"].dt.date
nl_df["DATE"] = nl_df["TIME"].dt.date
sc_df["DATE"] = sc_df["TIME"].dt.date
sa_df["DATE"] = sa_df["TIME"].dt.date

In [8]:
nl_df.head(20)

,TIME,HGT,WS,WD,PD,XLAT,XLON,POWER,DATE
0,2015-01-01 00:00:00,100,11.501400,230.59325,985.93866,52.728462,5.639771,1967.805630,2015-01-01
1,2015-01-01 00:30:00,100,11.568027,229.57266,1003.01070,52.728462,5.639771,1973.995533,2015-01-01
2,2015-01-01 01:00:00,100,11.520704,229.76889,990.93950,52.728462,5.639771,1969.625895,2015-01-01
3,2015-01-01 01:30:00,100,11.518334,230.36160,990.27450,52.728462,5.639771,1969.403607,2015-01-01
4,2015-01-01 02:00:00,100,11.635942,231.44452,1021.30660,52.728462,5.639771,1980.041740,2015-01-01
5,2015-01-01 02:30:00,100,11.381873,228.17848,956.19025,52.728462,5.639771,1956.030709,2015-01-01
6,2015-01-01 03:00:00,100,11.378232,226.47339,956.27185,52.728462,5.639771,1955.658061,2015-01-01
7,2015-01-01 03:30:00,100,11.334251,225.43845,945.22003,52.728462,5.639771,1951.089612,2015-01-01
8,2015-01-01 04:00:00,100,11.301086,224.53091,936.80664,52.728462,5.639771,1947.561578,2015-01-01
9,2015-01-01 04:30:00,100,11.432273,223.79974,969.62840,52.728462,5.639771,1961.103225,2015-01-01
10,2015-01-01 05:00:00,100,11.452883,222.29123,975.22864,52.728462,5.639771,1963.131996,2015-01-01
11,2015-01-01 05:30:00,100,11.475580,222.50635,981.69690,52.728462,5.639771,1965.336118,2015-01-01
12,2015-01-01 06:00:00,100,11.553684,222.25130,1002.34106,52.728462,5.639771,1972.684902,2015-01-01
13,2015-01-01 06:30:00,100,11.660361,217.83948,1030.76600,52.728462,5.639771,1982.152551,2015-01-01
14,2015-01-01 07:00:00,100,11.395126,221.72409,962.85986,52.728462,5.639771,1957.380025,2015-01-01
15,2015-01-01 07:30:00,100,11.556924,219.42566,1005.08050,52.728462,5.639771,1972.981997,2015-01-01
16,2015-01-01 08:00:00,100,11.602332,219.96962,1017.60767,52.728462,5.639771,1977.082174,2015-01-01
17,2015-01-01 08:30:00,100,11.810583,220.37890,1072.86190,52.728462,5.639771,1994.435067,2015-01-01
18,2015-01-01 09:00:00,100,12.143003,222.50690,1164.83030,52.728462,5.639771,2017.701940,2015-01-01
19,2015-01-01 09:30:00,100,12.396869,220.26941,1237.80350,52.728462,5.639771,2032.323667,2015-01-01

In [9]:
nl_df["LOC"] = "Onshore"
ir_df["LOC"] = "Offshore"
sa_df["LOC"] = "Offshore"
sc_df["LOC"] = "Onshore"

In [10]:
onshore_config = {
    "cutIn": 3,
    "cutOff": 31,
    "diameter": 141,
    "maxPower": 4200,
}

offshore_config = {
    "cutIn": 3.5,
    "cutOff": 25,
    "diameter": 193,
    "maxPower": 10000,
}

In [25]:
ir_df["DATE"] = ir_df["TIME"].dt.date
ir_df.head(5)

,TIME,HGT,WS,WD,PD,XLAT,XLON,POWER,LOC,DATE
0,2015-01-01 00:00:00,100,14.701463,208.66410,1975.4340,53.231453,-10.01477,4987.424050,Offshore,2015-01-01
1,2015-01-01 00:30:00,100,14.701601,206.70175,1975.2759,53.231453,-10.01477,4987.427378,Offshore,2015-01-01
2,2015-01-01 01:00:00,100,14.981335,205.01984,2089.9133,53.231453,-10.01477,4993.491767,Offshore,2015-01-01
3,2015-01-01 01:30:00,100,15.147255,202.35155,2160.3105,53.231453,-10.01477,4996.513182,Offshore,2015-01-01
4,2015-01-01 02:00:00,100,15.860322,199.94739,2479.6287,53.231453,-10.01477,5005.846838,Offshore,2015-01-01

In [13]:
def getListOfLossIntervalLengths(inputData):
    resultList = list()
    resultDateList = list()
    index_max = inputData.shape[0]
    for index in inputData.index:
        if (inputData.loc[index, "POWER"] == 0):
            if (inputData.loc[index - 1, "POWER"] == 0):
                next
            else:
                resultDateList.append(inputData.loc[index, "DATE"])
                count = 1
                index_while = index + 1
                if index_while == index_max:
                        break
                while (inputData.loc[index_while, "POWER"] <= 3):
                    count += 1
                    index_while += 1
                    if index_while == index_max:
                        break
                resultList.append(count*2)
    return [resultDateList, resultList]

In [32]:
result = getListOfLossIntervalLengths(ir_df)
result_dict = {
    "date": result[0],
    "loss_duration": result[1]
}
res_df = pd.DataFrame(result_dict)

In [14]:
result_ireland = getListOfLossIntervalLengths(ir_df)
result_netherlands = getListOfLossIntervalLengths(nl_df)
result_sardinia = getListOfLossIntervalLengths(sa_df)
result_scotland = getListOfLossIntervalLengths(sc_df)

In [18]:
print(np.percentile(np.asarray(result_ireland[1]), 80))
print(np.percentile(np.asarray(result_netherlands[1]), 80))
print(np.percentile(np.asarray(result_sardinia[1]), 80))
print(np.percentile(np.asarray(result_scotland[1]), 80))

24.0
30.0
36.0
22.0

In [19]:
print(np.percentile(np.asarray(result_ireland[1]), 90))
print(np.percentile(np.asarray(result_netherlands[1]), 90))
print(np.percentile(np.asarray(result_sardinia[1]), 90))
print(np.percentile(np.asarray(result_scotland[1]), 90))

34.0
42.0
64.0
36.0

In [28]:
temp1 = np.asarray(result_scotland[1])

In [29]:
np.count_nonzero(temp1 > 36)

11

In [30]:
11/365

0.030136986301369864